{
    "extends": ["airbnb-base"],
    "rules": {
      "no-underscore-dangle": "off",
      "no-unused-vars": ["error", { "argsIgnorePattern": "^(req|res|next)$" }]
     },
    "parser": "@babel/eslint-parser",
    "parserOptions": {
      "requireConfigFile": false
    }
  }
